.section-about{
    background-color: $color-grey-light-1;
    padding: 10rem 0;
    margin-top: -20vh;
}

.section-features{
    padding: 10rem 0;
    background-image: 
    linear-gradient(to right bottom, 
    rgba($color-primary-light, 0.8),rgba($color-primary-dark, 0.8)), 
    url("../../img/nat-4.jpg");
    background-size: cover;

    transform: skewY(-7deg);

     & > *{
        transform: skewY(7deg);
     }
}

.section-tours{
    background-color: $color-grey-light-1;
    padding: 10rem 0 10rem 0;
    margin-top: 1rem;
}

.section-stories{
    padding: 5rem 0;
    background-color: $color-grey-light-1;
    position: relative;
}

.section-book{
    padding: 10rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    margin-bottom: 15rem;
    overflow: hidden;
}

.book{
    margin-top: 15rem;
    background-image: linear-gradient(105deg,
    rgba($color-white,0.8) 0%, rgba($color-white,0.8) 50%,transparent 50%),
    url('../../img/nat-10.jpg');
    background-size: 100%;
    height: 33rem;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.15);

    &__form{
        width: 50%;
        padding: 3rem;
    }
}