.form{
    &__group{
        margin-bottom: 1rem;
    }

    &__input{
        font-size: 1.2rem;
        font-family: inherit;
        padding: 1.2rem 1.5rem;
        border-radius: 10px;
        background-color: rgba($color-white, 1);
        border: none;
        border-bottom: 4px solid transparent;
        width: 90%;
        display: block;
    }

    &__input:focus{
        outline: none;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
        border-bottom: 4px solid $color-primary;
    }

    &__input:focus:invalid {
        border-bottom: 4px solid red;
    }

    &::-webkit-input-placeholder{
        color: #999;
    }

    &__label{

    }

    &__radio-group{
        width: 50%;
        display: inline-block;
    }

    &__radio-input{
        display: none;
    }

    &__radio-label{
        font-size: 1rem;
        cursor: pointer;
        position: relative;
        padding-left: 2rem;
    }

    &__radio-button{
        height: 1.5rem;
        width: 1.5rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -3px;

        &::after{
            content: "";
            display: block;
            height: 0.5rem;
            width: 0.5rem;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0;
            transition: opacity 0.3s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after{
        opacity: 1;
    }
}