<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Document</title>
</head>
<body>

    <nav class="main-nav">
        <div class="logo-container">
            <div class="logo-text">
                <b>BR</b>
                Architects</div>
        </div>
        <ul>
            <li>Projects</li>
            <li>About</li>
            <li>Contacts</li>
        </ul>
    </nav>

    <div class="cover">
        <div class="logo-container">
            <div class="logo-text">
                <span class="logo">BR</span> 
                <span>Architects</span>
            </div>
        </div>
    </div>

    <br>

    <div class="project-title">
        <h2>Projects</h2>
        <hr>
    </div>

    <div class="grid">
        <div><span>Some 1</span><img src="./img/img1-min.jpg"></div>
        <div><span>Some 2</span><img src="./img/img4-min.jpg"></div>
        <div><span>Some 3</span><img src="./img/img5-min.jpg"></div>
        <div><span>Some 4</span><img src="./img/img6-min.jpg"></div>
        <div><span>Some 5</span><img src="./img/img7-min.jpg"></div>
        <div><span>Some 6</span><img src="./img/img8-min.jpg"></div>
    </div>

    <br>
    <div class="contacts-title">
        <h2>Contacts</h2>
        <hr>
    </div>
    
    <div class="contacts">
        <div class="contact-1">
            <img src="./img/p2.jpg">
            <div class="name">Lorem ipsum</div>
            <div class="role">Etiam pharetra</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et nulla et leo dictum tristique ut ut velit. Suspendisse vel vestibulum magna, ac mattis lectus. Etiam pharetra mauris eu nunc pellentesque, vitae elementum metus eleifend. Nam at elit at tellus dictum tempus quis eu neque. In tincidunt, mi eu porttitor posuere, nisi arcu vehicula est, non facilisis neque quam at ipsum.</p>
            <button>Contact</button>
        </div>

        <div class="contact-2">
            <img src="./img/p3-min.jpg">
            <div class="name">Lorem ipsum</div>
            <div class="role">Etiam pharetra</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et nulla et leo dictum tristique ut ut velit. Suspendisse vel vestibulum magna, ac mattis lectus. Etiam pharetra mauris eu nunc pellentesque, vitae elementum metus eleifend. Nam at elit at tellus dictum tempus quis eu neque. In tincidunt, mi eu porttitor posuere, nisi arcu vehicula est, non facilisis neque quam at ipsum.</p>
            <button>Contact</button>
        </div>

        <div class="contact-3">
            <img src="./img/p6-min.jpg">
            <div class="name">Lorem ipsum</div>
            <div class="role">Etiam pharetra</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et nulla et leo dictum tristique ut ut velit. Suspendisse vel vestibulum magna, ac mattis lectus. Etiam pharetra mauris eu nunc pellentesque, vitae elementum metus eleifend. Nam at elit at tellus dictum tempus quis eu neque. In tincidunt, mi eu porttitor posuere, nisi arcu vehicula est, non facilisis neque quam at ipsum.</p>
            <button>Contact</button>
        </div>
                
        <div class="contact-4">
            <img src="./img/p5-min.jpg">
            <div class="name">Lorem ipsum</div>
            <div class="role">Etiam pharetra</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et nulla et leo dictum tristique ut ut velit. Suspendisse vel vestibulum magna, ac mattis lectus. Etiam pharetra mauris eu nunc pellentesque, vitae elementum metus eleifend. Nam at elit at tellus dictum tempus quis eu neque. In tincidunt, mi eu porttitor posuere, nisi arcu vehicula est, non facilisis neque quam at ipsum.</p>
            <button>Contact</button>
        </div>                
    </div>

    <br>
    <div class="email-title">
        <h2>Email Us</h2>
        <hr>
    </div>
    
    <div class="form-container">
        <form>
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <input type="text" placeholder="Subject">
            <input type="text" placeholder="Comment">
            <input type="submit" value="SEND MESSAGE">
        </form>
    </div>

    <br>

    <footer>
        <div>
            This is a footer
        </div>
    </footer>

</body>
</html>